<!DOCTYPE html>
<html lang="en"
  data-signals:_brand="localStorage.getItem('brand-color') !== null ? localStorage.getItem('brand-color') : 'dodgerblue'"
  data-attr:style="'--brand: ' + $_brand + ';'">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="color-scheme" content="light dark" data-signals:_dark-theme="localStorage.getItem('dark-theme')"
    data-attr:content="$_darkTheme === '' ? 'light dark' : $_darkTheme === 'true' ? 'dark' : 'light'">
  <link rel="stylesheet" href="/css/constellation.css" data-signals:_css-toggle="true"
    data-attr:disabled="!$_cssToggle">
  <link rel="stylesheet" href="/css/styles.css">
  <script type="module" src="/js/datastar.js"></script>
  <title>{{ title }}</title>
</head>

<body>
  <header>
    <h1>Constellation CSS</h1>
    <!-- <div data-json-signals></div> -->

    <button class="settings-menu-button" popovertarget="settings-menu">
      <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="feather feather-settings">
        <circle cx="12" cy="12" r="3"></circle>
        <path
          d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z">
        </path>
      </svg>
    </button>
    <menu id="settings-menu" class="settings-menu" popover>
      <b>Theme</b>
      <label><input type="radio" name="theme" value="system"
          data-on:click="$_darkTheme = ''; localStorage.removeItem('dark-theme')"
          data-attr:checked="$_darkTheme === '' ? true : false"> System</label>
      <label><input type="radio" name="theme" value="light"
          data-on:click="$_darkTheme = 'false'; localStorage.setItem('dark-theme', $_darkTheme)"
          data-attr:checked="$_darkTheme === 'false' ? true : false"> Light</label>
      <label><input type="radio" name="theme" value="dark"
          data-on:click="$_darkTheme = 'true'; localStorage.setItem('dark-theme', $_darkTheme)"
          data-attr:checked="$_darkTheme === 'true' ? true : false"> Dark</label>
      <hr>
      <b>CSS</b>
      <label><input type="radio" name="css" value="enabled"
          data-on:click="$_cssToggle = true"
          data-attr:checked="$_cssToggle"> Enabled</label>
      <label><input type="radio" name="css" value="disabled"
          data-on:click="$_cssToggle = false"
          data-attr:checked="!$_cssToggle"> Disabled</label>
      <hr>
      <input type="color" data-bind:_brand data-on:change="localStorage.setItem('brand-color', $_brand)">
      <button data-on:click="$_brand = 'dodgerblue'; localStorage.removeItem('brand-color')">Reset</button>
    </menu>
  </header>
  <nav>
    {% include 'menu' %}
  </nav>
  <main>
    {{ content }}
  </main>

  <footer>
    {% include 'footer' %}
  </footer>
</body>

</html>