<!DOCTYPE html>
<html lang="en"
    data-signals:_brand="localStorage.getItem('brand-color') !== null ? localStorage.getItem('brand-color') : '#238fff'"
    data-style:--brand="$_brand" data-signals:_dark-theme="localStorage.getItem('dark-theme')"
    data-attr:data-theme="$_darkTheme === '' ? 'light dark' : $_darkTheme === 'true' ? 'dark' : 'light'">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/constellation.css" data-signals:_css-toggle="true"
        data-attr:disabled="!$_cssToggle">
    <link rel="stylesheet" href="/css/styles.css">
    <script type="module" src="/js/datastar.js"></script>
    <title>Constellation: {{ title }}</title>
</head>

<body>
    <header>
        <h1>Constellation CSS</h1>
        <!-- <div data-json-signals></div> -->
        {% include 'setting' %}
    </header>
    <nav aria-label="Main Navigation">
        {% include 'menu' %}
    </nav>
    <main>
        <h2>{{ title }}</h2>
        <article>
            {{ content }}
        </article>
    </main>
    <footer>
        {% include 'footer' %}
    </footer>
</body>

</html>