<!DOCTYPE html>
<html lang="en"
    data-signals:_brand="localStorage.getItem('brand-color') !== null ? localStorage.getItem('brand-color') : '#238fff'"
    data-style:--brand="$_brand" data-signals:_dark-theme="localStorage.getItem('dark-theme')"
    data-signals:_color-degrees="localStorage.getItem('color-degrees') !== null ? localStorage.getItem('color-degrees') : 35"
    data-style:--color-degrees="$_colorDegrees" data-signals:_--color-degrees="localStorage.getItem('color-degrees')"
    data-attr:data-theme="$_darkTheme === '' ? 'light dark' : $_darkTheme === 'true' ? 'dark' : 'light'">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/constellation.css" data-signals:_css-toggle="true"
        data-attr:disabled="!$_cssToggle">
    <link rel="stylesheet" href="/css/styles.css">
    <script type="module" src="/js/datastar.js"></script>
    <title>Constellation: {{ title }}</title>
</head>

<body class="fullscreen">
    {% include 'settings' %}
    <div class="sidebar-container">
        <div class="sidebar">
            <header>
                <h1 class="m-0">
                    <div class="text-3 text-center primary">Constellation</div>
                    <div class="text-3 text-center primary">CSS</div>
                </h1>
            </header>
            <nav aria-label="Main Navigation">
                {% include 'menu' %}
            </nav>
            <!-- <div data-json-signals></div> -->
        </div>
        <main>
            <h2>{{ title }}</h2>
            {{ content }}
        </main>
    </div>
    <footer class="center p-1">
        {% include 'footer' %}
    </footer>
</body>

</html>