<menu role="list">
    <li>
      <a href="/" {% if page.url == "/" %}aria-current="page"{% endif %}>
        Home
      </a>
    </li>
    <li>
      <a href="/colors" {% if page.url == "/colors/" %}aria-current="page"{% endif %}>
        Colors
      </a>
    </li>
    <li>
      <a href="/typography" {% if page.url == "/typography/" %}aria-current="page"{% endif %}>
        Typography
      </a>
    </li>

    {% for topic in collections.orderedDocs %}
      {% assign isCurrentTopic = false %}
      
      {% for item in topic.pages %}
        {% if page.url == item.url %}
          {% assign isCurrentTopic = true %}
        {% endif %}
      {% endfor %}

      <li>
        <details name="nav-sub-menu" {% if isCurrentTopic %}open{% endif %}>
          <summary>{{ topic.name }}</summary>
          <menu role="list">
            {% for item in topic.pages %}
              <li>
                <a href="/{{ item.url | lstrip: '/' }}" {% if page.url == item.url %}aria-current="page"{% endif %}>
                  {{ item.title }}
                </a>
              </li>
            {% endfor %}            
          </menu>
        </details>
      </li>
    {% endfor %}

    <li>
      <a href="/about" {% if page.url == "/about/" %}aria-current="page"{% endif %}>
        About
      </a>
    </li>
</menu>