.brand {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 0;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1;
    color: var(--primary, var(--brand));
}

.brand-logo {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
}

.brand-text {
    --brand-font: Dank Mono, Operator Mono, Inconsolata, Fira Mono, ui-monospace, SF Mono, Monaco, Droid Sans Mono, Source Code Pro, Cascadia Code, Menlo, Consolas, DejaVu Sans Mono, monospace;
    font-family: var(--brand-font);
    letter-spacing: -0.025em;
}

.text-suffix {
    opacity: 0.8;
    font-weight: 400;
}

.settings-menu-button {
    position: fixed;
    inset-block-start: 0.5rem;
    inset-inline-end: 0.5rem;
    background: none;
    border: none;
    box-shadow: 0 0 0 transparent;
    cursor: pointer;
    height: min-content;
    margin: 0;
    padding: 0;
    line-height: 0;
    anchor-name: settings-menu-button;

    &:hover {
        color: var(--brand);
    }
}

.settings-menu {
    position: fixed;
    position-anchor: settings-menu-button;
    margin: 0;
    margin-block-start: 0.2rem;
    padding: 0.8rem;
    inset: auto;
    inset-block-start: anchor(bottom);
    inset-inline-end: anchor(right);
    border: 2px solid;

    fieldset {
        display: flex;
        flex-direction: column;
        min-width: 0;
        margin: 0;
        margin-block-end: 0.5rem;
        padding: 0.8rem;
    }

    &>*:last-child {
        margin-block-end: 0;
    }

    label,
    input,
    button {
        cursor: pointer;
    }

    label:hover {
        color: var(--brand);
    }

    input[type="color"],
    input[type="range"],
    input[type="text"] {
        display: block;
        width: 100%;
        max-width: 100%;
        padding: 0;
        margin: 0;
        margin-block-end: 0.5rem;
        border-width: 1px;
    }

    button {
        margin: 0;
    }

    input[type="range"] {
        width: 100%;
    }

    input[type="text"] {
        width: 15ch;
        padding: 0.5rem;
    }

    &:popover-open {
        display: flex;
        flex-direction: column;
    }
}