.brand {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 0;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1;
    color: var(--primary, var(--brand));
}

.brand-logo {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
}

.brand-text {
    --brand-font: dank mono, operator mono, inconsolata, fira mono, ui-monospace, sf mono, monaco, droid sans mono, source code pro, cascadia code, menlo, consolas, dejavu sans mono, monospace;
    
    font-family: var(--brand-font);
    letter-spacing: -0.025em;
}

.text-suffix {
    opacity: 0.8;
    font-weight: 400;
}

.settings-menu-button {
    position: fixed;
    z-index: 1;
    inset-block-start: 0.5rem;
    inset-inline-end: 0.5rem;
    background: none;
    border: none;
    box-shadow: 0 0 0 transparent;
    cursor: pointer;
    height: min-content;
    margin: 0;
    padding: 0;
    line-height: 0;
    anchor-name: --settings-menu-button;

    &:hover {
        color: var(--brand);
    }
}

.settings-menu {
    position: fixed;
    position-anchor: --settings-menu-button;
    margin: 0;
    margin-block-start: 0.2rem;
    padding: 0.8rem;
    inset: auto;
    inset-block-start: anchor(bottom);
    inset-inline-end: anchor(right);
    border: 2px solid;

    fieldset {
        display: flex;
        flex-direction: column;
        min-width: 0;
        margin: 0;
        margin-block-end: 0.5rem;
        padding: 0.8rem;
    }

    &>*:last-child {
        margin-block-end: 0;
    }

    label,
    input,
    button {
        cursor: pointer;
    }

    input[type="color"],
    input[type="range"],
    input[type="text"] {
        display: block;
        width: 100%;
        max-width: 100%;
        padding: 0;
        margin: 0;
        margin-block-end: 0.5rem;
        border-width: 1px;
    }

    button {
        margin: 0;
        margin-block: 0.5rem;
    }

    input[type="range"] {
        width: 100%;
    }

    input[type="text"] {
        width: 15ch;
        padding: 0.5rem;
    }

    &:popover-open {
        display: flex;
        flex-direction: column;
    }
}

@media (prefers-reduced-motion: no-preference) {
    @view-transition {
        navigation: auto;
    }
    
    main {
        view-transition-name: main-content;
    }
    
    ::view-transition-old(main-content) {
        animation-name: slide-out;
        animation-duration: 0.25s;
        color-scheme: inherit;
    }
    
    ::view-transition-new(main-content) {
        animation-name: slide-in;
        animation-duration: 0.25s;
        color-scheme: inherit;
    }

    @keyframes slide-out {
        to {
            translate: -100vw;
            opacity: 0;
        }
    }

    @keyframes slide-in {
        from {
            translate: 100vw;
            opacity: 0;
        }
    }
}